{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Add Team {% endblock %}

{% block body %}
<div id="page">
    <div id="page-content">
        <div id="create-team-form">
            <div class="create-team-header-form">
                <h2>Add Team</h2>
            </div>
            <form id="form" method="POST" action="/create-team">
                <div class="create-team-form-groups">
                    <div class="input-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" placeholder="Name" size="40" required/>
                    </div>
                    <div class="employee-section">
                        <label for="available-employees">Available Employees:</label>
                        <select id="available-employees" multiple>
                            {% for employee in employees %}
                            <option value="{{ employee.id }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" onclick="addEmployeesToTeam()">&gt;&gt;</button>
                    <button type="button" onclick="removeEmployeesFromTeam()">&lt;&lt;</button>
                    <div class="employee-section">
                        <label for="team-members">Team Members:</label>
                        <select id="team-members" name="team_members[]" multiple>
                        </select>
                    </div>
                    <input type="hidden" id="team-members-all" name="team_members_all">
                    <div class="button-group">
                        <button class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var availableEmployeesSelect = document.getElementById("available-employees");
    var teamMembersSelect = document.getElementById("team-members");
    var teamMembersAllInput = document.getElementById("team-members-all");
    var form = document.getElementById("form");

    form.addEventListener('submit', evt => {
        var teamMembersAllValues = Array.from(teamMembersSelect.options).map(function(option) {
            return option.value;
        }).join(',');
        teamMembersAllInput.value = teamMembersAllValues;
    });

    function addEmployeesToTeam() {
        var selectedEmployees = Array.from(availableEmployeesSelect.selectedOptions);

        selectedEmployees.forEach(function (employeeOption) {
            teamMembersSelect.appendChild(employeeOption);
        });
    }

    function removeEmployeesFromTeam() {
        var selectedTeamMembers = Array.from(teamMembersSelect.selectedOptions);

        selectedTeamMembers.forEach(function (teamMemberOption) {
            availableEmployeesSelect.appendChild(teamMemberOption);
        });
    }
</script>
{% endblock %}
